name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always
  DOC_PATH: target/doc

jobs:
  build:
    name: Build and Deploy Doc
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Generate Documentation
      run: cargo doc
    - name: Generate Redirecting index.html
      run: cp .github/pages/index.html ${{ env.DOC_PATH }}
    - name: Deploy Documentation
      uses: peaceiris/actions-gh-pages@v3
      if: ${{ matrix.os == 'ubuntu-latest' }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ${{ env.DOC_PATH }}
        force_orphan: true
